# Kubernetes won't deliberately cause an interruption to a ready storage pod if
# that would drop the ready count below 5.
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: sample-cluster-storage
  namespace: default
spec:
  minAvailable: 5
  selector:
    matchLabels:
      fdb-cluster-name: sample-cluster
      fdb-process-class: storage
---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: sample-cluster-log
  namespace: default
spec:
  minAvailable: 3
  selector:
    matchLabels:
      fdb-cluster-name: sample-cluster
      fdb-process-class: log
---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: sample-cluster-transaction
  namespace: default
spec:
  minAvailable: 3
  selector:
    matchLabels:
      fdb-cluster-name: sample-cluster
      fdb-process-class: transaction
