apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: system
---
apiVersion: v1
kind: Service
metadata:
  name: controller-manager-service
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
spec:
  selector:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  ports:
  - port: 443
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: controller-manager
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
      controller-tools.k8s.io: "1.0"
  serviceName: controller-manager-service
  template:
    metadata:
      labels:
        control-plane: controller-manager
        controller-tools.k8s.io: "1.0"
    spec:
      volumes:
        - name: cert
          secret:
            defaultMode: 420
            secretName: webhook-server-secret
        - name: fdb-certs
          secret:
            secretName: fdb-kubernetes-operator-secrets
      serviceAccountName: default
      containers:
      - command:
        - /manager
        image: viveksinghggits/fdb-kubernetes-operator:latest
        imagePullPolicy: IfNotPresent
        name: manager
        volumeMounts:
          - mountPath: /tmp/cert
            name: cert
            readOnly: true
          - mountPath: /tmp/fdb-certs
            name: fdb-certs
            readOnly: true
        env:
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: SECRET_NAME
            value: {{ .Values.secret.name }}
          - name: DISABLE_SIDECAR_TLS_CHECK
            value: "1"
          - name: FDB_TLS_CERTIFICATE_FILE
            value: /tmp/fdb-certs/cert.pem
          - name: FDB_TLS_CA_FILE
            value: /tmp/fdb-certs/cert.pem
          - name: FDB_TLS_KEY_FILE
            value: /tmp/fdb-certs/key.pem
        resources:
          limits:
            cpu: 500m
            memory: 256Mi
          requests:
            cpu: 500m
            memory: 256Mi
        ports:
        - containerPort: 9876
          name: webhook-server
          protocol: TCP
      terminationGracePeriodSeconds: 10
---
apiVersion: v1
kind: Secret
metadata:
  name: webhook-server-secret
  namespace: {{ .Release.Namespace }}
