name: Integration checks
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint-go:
    name: Lint go code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        fdbver: [ "6.2.30", "6.3.22" ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.17.6
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go
      - name: Get dependencies
        run: curl -L --fail "https://github.com/apple/foundationdb/releases/download/${{ matrix.fdbver }}/foundationdb-clients_${{ matrix.fdbver }}-1_amd64.deb" -o fdb.deb
      - name: Install dependencies
        run: sudo dpkg -i fdb.deb
      - name: Run golangci-lint
        run: |
          make fmt lint
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # With a new supported Kubernetes version we should adjust the version
        # See https://kubernetes.io/releases for the current releases
        kubever: [ "v1.19.0", "v1.20.0", "v1.21.1", "v1.22.0", "v1.23.0" ]
        fdbver: ["6.2.30", "6.3.22"]
    steps:
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.17.6
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go
    - name: Get dependencies
      env:
        KIND_VER: "v0.11.1"
      run: |
        # Only download all dependencies
        curl --fail -L "https://github.com/apple/foundationdb/releases/download/${{ matrix.fdbver }}/foundationdb-clients_${{ matrix.fdbver }}-1_amd64.deb" -o fdb.deb
        curl -Lo kind https://kind.sigs.k8s.io/dl/${KIND_VER}/kind-linux-amd64
    - name: Install dependencies
      run: |
        # Install dependencies either from cache or freshly downloaded
        sudo dpkg -i fdb.deb
        # Install Kind and start a local Kubernetes cluster
        chmod +x kind
        sudo mv kind /usr/local/bin/kind
        ./scripts/setup_kind_local_registry.sh ${{ matrix.kubever }}
    - name: Check for uncommitted changes
      env:
        # Don't run any tests we run them in the next step
        SKIP_TEST: "1"
      run: |
        make clean all
        git diff --exit-code
    - name: Ensure CRD can be upgrade from main
      run: |
        # Install the current manifests to ensure we can apply the manifests without any issue
        kubectl apply -f https://raw.githubusercontent.com/FoundationDB/fdb-kubernetes-operator/main/config/crd/bases/apps.foundationdb.org_foundationdbbackups.yaml
        kubectl apply -f https://raw.githubusercontent.com/FoundationDB/fdb-kubernetes-operator/main/config/crd/bases/apps.foundationdb.org_foundationdbclusters.yaml
        kubectl apply -f https://raw.githubusercontent.com/FoundationDB/fdb-kubernetes-operator/main/config/crd/bases/apps.foundationdb.org_foundationdbrestores.yaml
        # Ensure that the CRDs are established
        kubectl wait --for condition="established" crd --all
        # Ensure we can upgrade the CRD with the current changes
        make install
    - name: Ensure samples are in a valid format
      run: |
        kubectl apply -f ./config/samples --dry-run=server
    - name: Run tests
      # Currently the default runner has 2 vCPU:
      # https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners#supported-runners-and-hardware-resources
      env:
        GOMAXPROCS: "2"
        TEST_RACE_CONDITIONS: "1"
      run: |
        make test
  build_images:
    if: github.ref != 'refs/heads/main'
    name: Build Docker images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - fdb-kubernetes-operator
          - fdb-data-loader
          - fdb-kubernetes-operator-distroless
        include:
          - image: fdb-kubernetes-operator
            context: ./
            name: foundationdb/fdb-kubernetes-operator
            tagSuffix: ""
            file: ./Dockerfile
          - image: fdb-kubernetes-operator-distroless
            context: ./
            name: foundationdb/fdb-kubernetes-operator
            tagSuffix: -distrolesss
            file: ./distrolesss.dockerfile
          - image: fdb-data-loader
            context: ./sample-apps/data-loader
            name: foundationdb/fdb-data-loader
            tagSuffix: ""
            file: ./sample-apps/data-loader/Dockerfile
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build image
        uses: docker/build-push-action@v2
        with:
          build-args: TAG=${GITHUB_SHA}
          push: false
          context: ${{ matrix.context }}
          tags: ${{ matrix.name }}:latest${{ matrix.tagSuffix }}
          file: ${{ matrix.file }}
  push_images:
    if: github.ref == 'refs/heads/main'
    needs: build
    name: Push Docker images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - fdb-kubernetes-operator
          - fdb-data-loader
          - fdb-kubernetes-operator-distroless
        include:
          - image: fdb-kubernetes-operator
            context: ./
            name: foundationdb/fdb-kubernetes-operator
            tagSuffix: ""
            file: ./Dockerfile
          - image: fdb-kubernetes-operator-distroless
            context: ./
            name: foundationdb/fdb-kubernetes-operator
            tagSuffix: -distrolesss
            file: ./distrolesss.dockerfile
          - image: fdb-data-loader
            context: ./sample-apps/data-loader
            name: foundationdb/fdb-data-loader
            tagSuffix: ""
            file: ./sample-apps/data-loader/Dockerfile
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push to registry
        uses: docker/build-push-action@v2
        with:
          build-args: TAG=${GITHUB_SHA}
          push: true
          context: ${{ matrix.context }}
          tags: ${{ matrix.name }}:latest${{ matrix.tagSuffix }}
          file: ${{ matrix.file }}
