---
image:
  repository: foundationdb/fdb-kubernetes-operator
  tag: v1.9.0
  pullPolicy: IfNotPresent

initContainers:
  6.2:
    image:
      repository: foundationdb/foundationdb-kubernetes-sidecar
      tag: 6.2.30-1
      pullPolicy: IfNotPresent
  6.3:
    image:
      repository: foundationdb/foundationdb-kubernetes-sidecar
      tag: 6.3.23-1
      pullPolicy: IfNotPresent
  7.1:
    image:
      repository: foundationdb/foundationdb-kubernetes-sidecar
      tag: 7.1.15-1
      pullPolicy: IfNotPresent

globalMode:
  enabled: false

replicas: null

imagePullSecrets: []

annotations: {}
podAnnotations: {}
podLabels: {}

serviceAccount:
  create: true
  name: null
  imagePullSecrets: []
  annotations: {}

priorityClassName: null

securityContext:
  runAsUser: 4059
  runAsGroup: 4059
  fsGroup: 4059

containerSecurityContext:
  allowPrivilegeEscalation: false
  privileged: false
  capabilities:
    drop:
    - all
  readOnlyRootFilesystem: true

nodeSelector: {}

affinity: {}

tolerations: {}

resources:
  limits:
    cpu: 500m
    memory: 256Mi
  requests:
    cpu: 500m
    memory: 256Mi

initContainersResources:
  limits:
    cpu: 10m
    memory: 50Mi
  requests:
    cpu: 10m
    memory: 50Mi

initContainerSecurityContext:
  allowPrivilegeEscalation: false
  privileged: false
  capabilities:
    drop:
    - all
  readOnlyRootFilesystem: true
